/* CSS p impressora */
@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;

}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em; /*Espaçamento entre linhas*/
}

ul {
    display: none;

}

article::after {/* Depois do artigo */
    content: "Este artigo foi impresso através do site www.cursoemvideo.com.br";
}