@charset 'UTF-8';

/* Reset */
* {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 0px;
    margin: 0px;
    
}

body, html {
    background-color: blueviolet;
    height: 100vh;
    
    
}

main {
    height: 100vh;
    border: solid 1px red;

    /*Esse position:relative é P o
     posicionamento da div section#login  */
    position: relative;
}

section#login {
    border: solid 1px black;
    background-color:gray;
    width: 250px;
    height: 500px;
    border-radius: 20px;/*arredondar as 4 bordas da section*/
    overflow: hidden;/*arredondar a borda da imagem em cima*/

    /* Centralizar o section#login */
    /* Esses 4 estilos é p a div section#login ficar exatamente no meio da tela(do main)
     em qualquel resolução */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

section#login > #imagem {
    background-color: green;
    height: 200px;

    background-image: url('../imagens/logoLoja.png');
    background-size: cover;
    background-position: left center;
}

section#login > #formulario {
    padding: 10px;
    

}

#formulario h1 {
    text-align: center;
}

#formulario p {
    font-size: 0.8em;
    text-align: center;
}



.botaosubmit {
   /*esse display:block posiciona apenas o botão nessa linha */
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: teal;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.botaosubmit:hover {
    background-color: rgb(1, 49, 49);
}

.botaolink {
    display:block;
    text-align: center;
    color: rgb(233, 22, 22);
    font-size: 1em;
    width: 100%;
    height: 29px;
    background-color: rgb(8, 185, 185);
    border: 1px solid teal;
    border-radius: 5px;
    text-decoration: none;
    color: teal;
    padding-top: 10px;
   
}

.botaolink:hover {
    background-color:white;
}

form .campo {
    background-color: rgb(18, 81, 145);
    height: 40px;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
}

label {
    color: white;
   
}

.campo input {
    margin-top: 10px;
    background-color: rgb(7, 211, 211);
    color: white;
    font-size: 0.8em;
  
    
}



/* VERSÃO P TABLET */
@media screen and (min-width:768px) and (max-width:992px){
    section#login > #formulario {
        border: solid 1px yellow;
    }

    section#login {
        width: 80vw;/* Largura de 80% da tela */
    }

    #formulario p {
        font-size: 1.2em;
    }


}


/* VERSÃO ACIMA DE TABLET OU SEJA P TELAS DE TAMANHO GRANDE
   OU SEJA DE NOTEBOOK P CIMA */
@media screen and (min-width:992px){
    section#login {
        width: 90vw;
       
    }

    body {
        /* gradiente no fundo do body p telas grandes */
         /* to top quer dizer de baixo p cima - a primeira cor e a segunda */
        background-image: linear-gradient(to top, #49a09d, #5f2c82);

    }

    #formulario p {
        font-size: 2em;
    }

    
}